/* Make sure the container doesn't overflow when the background zooms */
.relative {
  position: relative;
  overflow: hidden; /* Hide overflow */
}

/* Apply the zoom-in effect to the background image */
.zoom-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomIn 7s ease-out forwards;
}

.product-box {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 768px) {
  .product-box {
    width: 45%;
    height: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .product-box {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

/* Define the zoom-in animation */
@keyframes zoomIn {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  100% {
    transform: scale(1.2); /* Zoom in by 20% */
  }
}
